<%- include('partials/header') -%>

<main class="container index">

    <div class="container-fluid">
        <a class="navbar-brand fade-in" href="/">Casual Coding</a>
    </div>
    <div class="scale-up-center fade-in">
        <p>Collaborate with other developers on coding projects. Add your project  and browse through the list to see what others are working on.</p>
    </div>
    <div class="interact scale-up-center fade-in">
        <a href="/login" class="col-3 btn btn-primary"> Login</a>
        <a href="/signup" class="col-3 btn btn-primary"> Signup</a>
    </div>
</main>
    
<%- include('partials/footer') -%>